.notice
  チャットグループが作成されました。

= render partial: "messages"

.chatspace
  .chatspace__hedder
    .chatspace__hedder--area
      .chatspace__hedder--area-groupname
        sampleグループ
      .chatspace__hedder--area-membername
        member kazuya
      .chatspace__hedder--area-btn
        = link_to "Edit", '#'

  .chatspace__list
    .chatspace__list--message
      .chatspace__list--message-indent
        .chatspace__list--message-indent-name
          信夫知也
        .chatspace__list--message-indent-time
          100000593/o5/15
        .chatspace__list--message-indent-body
          うえええええええええええええええええええええええーーーーーーーーーーい
    .chatspace__list--message
      .chatspace__list--message-indent
        .chatspace__list--message-indent-name
          信夫知也
        .chatspace__list--message-indent-time
          1993/04/28
        .chatspace__list--message-indent-body
          うえええええええええええええええええええええええーーーーーーーーーーい
    .chatspace__list--message
      .chatspace__list--message-indent
        .chatspace__list--message-indent-name
          信夫知也
        .chatspace__list--message-indent-time
          2018/05/20
        .chatspace__list--message-indent-body
          うえええええええええええええええええええええええーーーーーーーーーーい

  .chatspace__fotter
    .chatspace__fotter--search
      %form{:action => "/", :method => "post"}
        %input.chatspace__fotter--search-input{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
        %input.chatspace__fotter--search-bottum{:type => "submit", :value => "Sent"}/
        %label
          .far.fa-image
          %input.chatspace__fotter--search-images{:type => "file"}


