= render partial: "messages/sidebar"
/ .chatspace
/   .chatspace__hedder
/     .chatspace__hedder--area
/       .chatspace__hedder--area-groupname
/         = @group.name
/       .chatspace__hedder--area-membername
/         = render "member"
/       .chatspace__hedder--area-btn
/         = link_to "Edit", edit_group_path(@group)
/   .chatspace__list
/     = render @messages

/   .chatspace__fotter
/     .chatspace__fotter--search
/       = form_for [@group, @message] do |f|
/         = f.text_field :content, class: 'chatspace__fotter--search-input', placeholder: 'type a message'
/         %label.chat_filed-image
/           = f.file_field :image, class: 'chatspace__fotter--search-images', style: 'display: none;'
/           .far.fa-image
/         = f.submit 'Send', class: 'chatspace__fotter--search-bottum'
