html, body { height: 100vh; }

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
$maincolor: #38AEF0;
$subcolor: #434A54;

.chatspace{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #AAAAAA;
  float: right;
  &__hedder{
    height: 15%;
    border-bottom: 1px solid #eeeeee;
    &--area{
      margin: 0 40px;
      height: 100%;
      position: relative;
    &-groupname{
      color: #333333;
      font-size: 20px;
      margin: 35px 0 15px;
      float: left;
    }
    &-membername{
      color: #999999;
      font-size: 12px;
      position: absolute;
      bottom: 0;
    }
    .-btn{
      color: #38AEF0;
      font-size: 15px;
      padding: 12.5px 20px;
      margin: 28px 20px 0;
      border: 1px solid $maincolor;
      float: right;
      margin-bottom: 20px;
      background-color: white;
    }
  }
  }
  &__list{
      height: calc( 100vh - 15% - 90px );
      overflow-y: scroll;
      &--message{
        padding-top: 26px;
        padding-left: 40px;
        &-indent{
          padding: 20px 0;
          &-name{
            color: $subcolor;
            font-size: 16px;
            font-weight: bold;
            float: left;
            position: relative;
          }
          &-body{
            color: $subcolor;
            clear: both;
          }
          &-time{
            color: #999;
            font-size: 12px;
            padding: 0 10px 10px;
            float: left;
        }
        }
      }
    }
  &__fotter{
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;
    &--search{
      position: relative;
      .-input{
        height: 50px;
        background-color: #FFF;
        width: calc( 100% - 200px );
        border: none;
        position: absolute;
        top:20px;
        left:40px;
        padding-left: 10px;
        line-height: 50px;
      }
      .-bottum{
        color: #fff;
        width: 100px;
        height: 50px;
        text-align: center;
        background-color: $maincolor;
        position: absolute;
        top: 20px ;
        right: 20px ;
        border: none;
        box-sizing: border-box;
        line-height: 50px;
      }
      &-images{
        height: 50px;
        width: 50px;
        margin: 32px 130px 20px 0;
        position: absolute;
        top: 0;
        right: 0;
        .far{
          color: black;
        }
      }
      }
    }
}
