html, body { height: 100%; }

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

$maincolor: #FFFFFF;

.userspace {
  width:300px;
  height: 100%;
  background-color: #2f3e51;
  float: left;
  &__selfname{
    height: 15%;
    width: 100%;
    background-color: #253141;
    position: relative;
    &--content{
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      &-name{
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        margin: 0 20px;
        position: relative;
        display: inline-block;
      }
      &-indent{
        color: #ffffff;
        margin-left: 137px;
        position: relative;
        display: inline-block;
      }
      .far{
        font-size: 0.8em;
        color: $maincolor;
      }
      .fas{
        font-size: 0.8em;
        color: $maincolor;
      }
    }
  }

  &__group{
    height: 85%;
    &--list{
      margin-left: 20px;
      margin-right: 20px;
      height: 80px;
      &-name{
        font-size: 15px;
        color: $maincolor;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      &-messages{
        font-size: 11px;
        color: $maincolor;
        margin-bottom: 40px;
      }
    }
}
}
