$maincolor: #38AEF0;
$subcolor: #434A54;
$fontcolor: #FFFFFF;
$light_blue: #38AEF0;
$white: #fff;
$alert_orange: #F35500;
$light_blue: #00FFFF;
$side_blue_light: #FFFF00;
$side_group_name: #C0C0C0;
$side_group_message: #808080;

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
